.select-mode {
    display: flex;
text-align: center;
justify-content: center;
gap: 20px;
}

.title-ai {
    font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;

    font-size: 18px;
    font-weight: 300;
    color: white;
    text-shadow: 0 0 20px rgba(38, 255, 203, 1), 0 0 30px rgba(38, 255, 203, 0.6);
}

.button-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.mode-button,
.difficulty-button,
.first-move-button {
    font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-size: 14px;
    padding: 10px 20px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    border-radius: 5px;
    transition: bacground-color 0.3s, background-color 0.3s;
}

.mode-button.active,
.difficulty-button.active,
.first-move-button.active {
    background-color: #1f3540;
    color: #26ffcb;
    transition: bacground-color 0.3s, background-color 0.3s;
}

.mode-button:hover,
.difficulty-button:hover,
.first-move-button:hover {
background-color: #2b4c5a;
}

.div {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.first-move-btn {
    font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-size: 14px;
    padding: 7.4px 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s, background-color 0.3s;
}

.first-move-btn.selected {
    
    border-color: #1f3540;
    background-color: #1f3540;
    color: #26ffcb;
}

.box {
    color: white;
}
