:root {
    --background-color: #123;
    /* Значение по умолчанию */
}

ul {
    list-style-type: none;
}
body {
    margin: 0;
background: #0f1b21;
/* background: var(#0f1b21); */
}
h1 {
    margin: 0;
}

.hover:hover {
    background-color: #2b4c5a;
    /* background-color: black; */
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}