
.container {

    background-color: #123;
        /* Цвет фона */
        padding: 20px;

        color: white;
        /* Цвет текста */
        text-align: center;
        width: 400px;
        margin: 0 auto;
        z-index: 2;
    /* background-image: linear-gradient(rgba(21, 21, 24, 0.7), rgba(24, 24, 27, 0.7)),url(../../img/background3.jpg);
                background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover; */
}


.back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    transition: color 0.3s, background-color 0.3s;
    box-shadow: 0 0 10px rgba(38, 255, 203, 0.8), inset 0 0 5px rgba(38, 255, 203, 0.8);
}


.iconBack {
    width: 20px;
    height: 20px;
}


.link {
    display: flex;
text-decoration: none;
            color: #26ffcb;
padding: 10px;
}


.title {
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.title span {
    color: #26ffcb;
    padding-left: 15px;
}

.container-design {
    display: flex;
    justify-content: space-between;

}

.container-for-count {
    display: flex;
    flex-direction: column;

    width: 80px;
    height: 100px;
    padding: 10px;
    border: 1px solid #26ffcb;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    box-shadow: 0 0 10px rgba(38, 255, 203, 0.8);
    border-radius: 20px;
    position: relative;
}

.containerForBox {
    display: flex;
    justify-content: center;
    /* Центрируем содержимое */
    margin: 0 auto;
    
}

.cross,
.circle {
    margin: 0 30px;
    /* Убедитесь, что отступы сбалансированы */
    margin-top: auto;
        margin-bottom: auto;
}

.img-cross-contain {
    width: 60px;
    height: 60px;
}

.line::before {
    content: '';
    position: absolute;
    top: 72px;
    left: 10px;
    width: 80%;
    height: 1px;
    background-color: #26ffcb;
    display: block;
}

.count {
    display: flex;
    justify-content: center;
    color: #26ffcb;
    font-size: 24px;
    margin: 0;
    margin-top: 10px;
    /* Убедитесь, что размер текста подходит */
}

.reset {
    width: 60px;
    height: 60px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background-color: #1f3540;
    font-size: 26px;
    color:  #26ffcb;
    transition: color 0.3s, background-color 0.3s;
    margin-top: 25px;
display: flex;
justify-content: center;
align-items: center;
margin-right: auto;
margin-left: auto;
transition: color 0.3s, background-color 0.3s;
    border: 1px solid #26ffcb;

    box-shadow: 0 0 10px rgba(38, 255, 203, 0.8);

}

.icon {
    display: inline-block;
    transition: transform 0.5s ease-in-out;
padding: 10px;
}

.icon:hover {
    transform: rotate(360deg);

}

.boxes {
    display: flex;
    height: 150px;
    width: 150px;
    background: #1f3540;
    border:  1px solid #0f1b21;
    border-radius: 12px;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
            border: 1px solid #26ffcb;
             
                box-shadow: 0 0 10px rgba(38, 255, 203, 0.8);
                border-radius: 10px;
}

.boxes:hover{
    background-color: #2b4c5a;
}
.board {
    /* height: 500px; */
    width: 564px;
    display: flex;
    margin: auto;
    justify-content: center;
}

.boxes img {
    margin: 50px 50px;
}

.title img {
    padding:  20px 20px;
height: 50px;
}


.toast {
position: fixed;
    top: 330px;
    left: 52%;
    width: 120vw;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 8px;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
    
        font-size: 34px;
        font-weight: 300;
    text-align: center;
    z-index: 999;
    box-shadow: 0 0 30px rgba(38, 255, 203, 0.6), 0 0 60px rgba(38, 255, 203, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    animation: fadein 3s ease-out, fadeout 0s ease-in 3s forwards;
display: flex;
    align-items: center;
    /* Центрирование по вертикали */
    justify-content: center;
}

@keyframes fadein {
    0% {
        opacity: 0;
        visibility: visible;
        pointer-events: none;
        transform: translate(-50%, -50%) scale(0.9);
        /* Начальное состояние с уменьшенным масштабом */
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
        pointer-events: auto;
        /* Плавное увеличение до нормального размера */
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translate(-50%, -50%) scale(1);
        /* Исходное состояние */
    }

    100% {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translate(-50%, -50%) scale(0.9);
        /* Исчезновение с небольшим уменьшением размера */
    }
}

/* .toast img {
    vertical-align: middle;

}

.toast .message {
    display: inline;
} */

.highlight {
    background-color: rgba(173, 216, 230, 0.5);
    /* transform: scale(1.05); */
}

.highlight:hover {
background-color: rgba(173, 216, 230, 0.5);
}
/* .winner-banner {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 8px;
} */
