
.container {
    padding: 20px;
}


.back {
    background-color: #1f3540;
            border: none;
            width: 60px;
            height: 30px;
            border-radius: 40px;
            transition: color 0.3s, background-color 0.3s;
}



.link {
text-decoration: none;
            color: #26ffcb;
            padding: 10px;
}


.title {
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.title span {
    color: #26ffcb;
    padding-left: 15px;
}



.reset {
    width: 190px;
    height: 80px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background-color: #1f3540;
    font-size: 26px;
    color:  #26ffcb;
    transition: color 0.3s, background-color 0.3s;
    margin-top: 25px;
    margin-bottom: 50px;
display: flex;
justify-content: center;
align-items: center;
margin-right: auto;
margin-left: auto;
}

.boxes {
    display: flex;
    height: 150px;
    width: 150px;
    background: #1f3540;
    border:  1px solid #0f1b21;
    border-radius: 12px;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
}

.boxes:hover{
    background-color: #2b4c5a;
}
.board {
    /* height: 500px; */
    width: 564px;
    display: flex;
    margin: auto;
    justify-content: center;
}

.boxes img {
    margin: 50px 50px;
}

.title img {
    padding:  20px 20px;
height: 50px;
}

